
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.home{
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -100;
  padding: .5rem;
}
#video-background{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
  
}
.about{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

.contact{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.weddings{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.realestate{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.promotional{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

#logo{
  width: 500px;
  top: 0;
  left: 0;
  z-index: 10;
}

nav {
float: right;
  width: 40%;
  text-align: center;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  width: 100%;
  height: 100%;
  z-index: -10;
  padding: .5rem;
}
