
body {
  font-family: 'Futura', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.home{
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -100;
  padding: .5rem;
}
.wrapper{
  display: grid;
  grid-gap:5px;
  grid-template-areas:
    "nav"
    "body"
    "footer"
}
#video-background{
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
  
}
.about{
  position: fixed;
  font-family: futura;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.footer{
  bottom: 0;
  font-family: futura;
  text-align: center;
  text-decoration: none;
}
.button{
  position: relative;

}

.contact{
  position: fixed;
  font-family: futura;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.weddings{
  font-family: futura;
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

.greg{
  background: rgba(0,0,0,0.3);
  border: 2px solid blue;
  font-family: futura;
  height: 50%;
  width: 50%;
  float:right;
}
.message{
  position: fixed;
  top: 400px;
  text-align: center;
  border: 3px solid black;
  background: rgba(0,0,0,0.3)
}
.realestate{
  position: fixed;
  font-family: futura;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.promotional{
  position: fixed;
  font-family: futura;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

#logo{
  width: 500px;
  top: 0;
  left: 0;
  z-index: 10;
}

nav {
  grid-area: nav;
  font-family: futura;
float: right;
  width: 40%;
  text-align: center;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}

nav a {
  color:black;
  padding: 1rem;
  display: inline-block;
  transition: .5s ease-in-out;

} 
nav a:hover {
  color:grey;
  padding: 1rem;
  display: inline-block;
}

.content {
  font-family: futura;
  width: 100%;
  height: 100%;
  z-index: -10;
  padding: .5rem;
}
