
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
/* .home{
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -100;
  padding: .5rem;
} */
/* .wrapper{
  display: grid;
  grid-template-areas: 
    "video"
  
} */
.homepage{
  height: 100%;
}

#video-background{
  grid-area: video;
  position: fixed;
  left: 0; 
  top: 0;
  /* min-width: 100%;  */
  /* min-height: 100%; */
  height:auto;
  width: 100%;
  
  z-index: -10;
  padding-bottom: 10%;
  
  
}
.content{
  height: 100%;
  grid-template-areas: 
    "body"
    "footer"
}

.main-page{
  grid-area: body;
  width: 80%;
  border: 5px red solid;
  position: relative;
  top: 100%;
  margin: auto;
  padding: 20px
  /* z-index: 3; */
}
.about{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

.contact{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.weddings{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.video{
  text-align: center;
  padding-top: 400px;
  display: block;

}
.message{
  position: fixed;
  top: 400px;
  text-align: center;
  border: 3px solid black;
  background: rgba(0,0,0,0.3)
}
.realestate{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}
.promotional{
  position: fixed;
  background: grey;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -10;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

#logo{
  width: 30%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 10;
}
/* video css */
.video{
  position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
}
/* iframe{
  position: absolute;
   
    width: 100%;
    height: auto;
  
} */


nav {
  grid-area: nav;
float: right;
  width: 40%;
  text-align: center;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}

nav a {
  color:black;
  padding: 1rem;
  display: inline-block;
}
nav a:hover {
  color:grey;
  padding: 1rem;
  display: inline-block;
}

